.LogoSearch {
  display: flex;
  gap: 0.75rem;
  border-radius: 100rem;
}
.border-r{
  border-radius: 50rem;
  object-fit: cover;
}
.Search {
  display: flex;
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 5px;
}
.Search>input {
  background-color: transparent;
  border: none;
  outline: none;
}
.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #69d9df 0%, #d2ed76 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
